<% include header %>

<h1><%= title %></h1>
<div class="article">
	<h4>
		<span class="title"><%= article._id %></span><br /><br />
		<span><a class="pdf" href="/Volumes/index.pdf#page=45&search=Radhamma" target="_blank">Click here to view PDF</a><span>
	</h4>
</div>

<% include footer %>