extends layout

block content
	div
		h1 #{title}
		.article
			h4
				span.title #{article._id}
				br
				br
				span
					a(href='/pdfjs/web/viewer.html?file=%2FVolumes%2Findex.pdf#page=45&search=Radhamma', target='_blank') Click here to view PDF

