		<br>
		<hr>
		<footer>
			<p>© 2017, Bharatiya Vidya Bhavana</p>
		</footer>
	</div>
	<script src="/js/main.js"></script>
	<script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>